In [3]:
l = lambda l: l+1
print(l)
l(1)

<function <lambda> at 0x10b81dae8>

2

In [4]:
type(lambda x: x+1)

function

In [5]:
l = list(range(36))

In [6]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35]

In [1]:
import numpy as np
l = np.array(range(36))

In [2]:
l

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35])

In [12]:
l=l.reshape(6,-1)

In [13]:
l[::7]

array([[0, 1, 2, 3, 4, 5]])

In [14]:
l = l[2:4,2:4]

In [15]:
l

array([[14, 15],
       [20, 21]])

In [2]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series({'a':0, 'b':1, 'c':2})
s2 = pd.Series({'a':3, 'b':4, 'c':5})
s3 = pd.Series({'a':6, 'b':7, 'c':7})

In [4]:
df = pd.DataFrame([s1,s2,s3], index=['small','small','big'])

In [8]:
df

       a  b  c
small  0  1  2
small  3  4  5
big    6  7  7

In [11]:
s1[0]

0

In [13]:
s1['b']

1

In [25]:
df.shape

(3, 3)

In [28]:
df.loc['small','a']

small    0
small    3
Name: a, dtype: int64

In [29]:
df.loc[:,'a']

small    0
small    3
big      6
Name: a, dtype: int64

In [30]:
list(df.loc[:,'a'])

[0, 3, 6]

In [35]:
df['a']['small']

small    0
small    3
Name: a, dtype: int64